<!DOCTYPE html>
<html ng-app="app">

<head>
  <link data-require="bootstrap@*" data-semver="3.2.0" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
  <script data-require="bootstrap@*" data-semver="3.2.0" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" data-semver="2.1.1" data-require="jquery@*"></script>
  <!--<script>window.jQuery || document.write('<script src="js/jquery.js">\x3C/script>')</script>-->
  <script type="text/javascript" src="js/angular.js"></script>
  <script type="text/javascript" src="js/MainController.js"></script>
  <link rel="stylesheet" href="style.css" />  
</head>

<body ng-controller="MainCtrl">
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse"></button> <a class="navbar-brand" href="#" color="red">{{AppName}}</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      
      <form class="navbar-form navbar-left">
        <input type="text" class="form-control col-lg-8" placeholder="Search" />
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About Us</a>
        </li>

        <li>
          <a href id="status"></a>
        </li>
      </ul>
    </div>
  </div>






  <form role="form">
    <div class="form-group">
      <label for="Category">Category:</label>
      <input required type="email" class="form-control" id="category" placeholder="Enter category">
    </div>
    <div class="form-group">
      <label for="Title">Title</label>
      <input required type="rwzr" class="form-control" id="title" placeholder="Enter Title">
    </div>
    <div class="form-group">
      <label for="Description">Description</label>
      <textarea required class="form-control" placeholder="Enter description">
      </textarea>
    </div>
    <div class="form-group">
      <label for="contact">Contact</label>
      <input required type="text" class="form-control" id="contact" placeholder="Enter contact">
    </div>
    <center>
      <button type="submit" class="form-group btn btn-primary">
        Post classified
      </button>
    </center>
  </form>
</body>

</html>
